# General settings
dist: trusty
sudo: false
language: node_js
node_js:
  "lts/*"
cache:
  directories:
    - node_modules
notifications:
  email: false
branches:
  only:
    - master
    - develop
    - /^greenkeeper/.*$/

# Build stages
stages:
  - name: build
  - name: test (package)
  - name: test (integration)
  - name: release
    if: branch = master

# Build jobs
jobs:
  include:

    - stage: build
      install:
        - npm install
      script:
        - npm run build

    - stage: test (package)
      env:
        - ANGULAR=2.4.x
        - TYPESCRIPT=2.3.x
      install:
        - npm install
      script:
        - npm run build
        - cd test/my-library
        - npm install @angular/compiler@$ANGULAR @angular/compiler-cli@$ANGULAR @angular/core@$ANGULAR @angular/common@$ANGULAR typescript@$TYPESCRIPT --no-save
        - cd ../..
        - npm run test:package
    -
      env:
        - ANGULAR=4.4.x
        - TYPESCRIPT=2.4.x
      install:
        - npm install
      script:
        - npm run build
        - cd test/my-library
        - npm install @angular/compiler@$ANGULAR @angular/compiler-cli@$ANGULAR @angular/core@$ANGULAR @angular/common@$ANGULAR typescript@$TYPESCRIPT --no-save
        - cd ../..
        - npm run test:package
    # -
    #   env:
    #     - ANGULAR=5.0.x
    #     - TYPESCRIPT=2.4.x
    #   install:
    #     - npm install
    #   script:
    #     - npm run build
    #     - npm install @angular/compiler@$ANGULAR @angular/compiler-cli@$ANGULAR @angular/core@$ANGULAR typescript@$TYPESCRIPT --no-save
    #     - npm run test:package
    # -
    #   env:
    #     - ANGULAR=5.1.x
    #     - TYPESCRIPT=2.4.x
    #   install:
    #     - npm install
    #   script:
    #     - npm run build
    #     - npm install @angular/compiler@$ANGULAR @angular/compiler-cli@$ANGULAR @angular/core@$ANGULAR typescript@$TYPESCRIPT --no-save
    #     - npm run test:package
    # -
    #   env:
    #     - ANGULAR=5.1.x
    #     - TYPESCRIPT=2.5.x
    #   install:
    #     - npm install
    #   script:
    #     - npm run build
    #     - npm install @angular/compiler@$ANGULAR @angular/compiler-cli@$ANGULAR @angular/core@$ANGULAR typescript@$TYPESCRIPT --no-save
    #     - npm run test:package
    # -
    #   env:
    #     - ANGULAR=5.2.x
    #     - TYPESCRIPT=2.4.x
    #   install:
    #     - npm install
    #   script:
    #     - npm run build
    #     - npm install @angular/compiler@$ANGULAR @angular/compiler-cli@$ANGULAR @angular/core@$ANGULAR typescript@$TYPESCRIPT --no-save
    #     - npm run test:package
    # -
    #   env:
    #     - ANGULAR=5.2.x
    #     - TYPESCRIPT=2.5.x
    #   install:
    #     - npm install
    #   script:
    #     - npm run build
    #     - npm install @angular/compiler@$ANGULAR @angular/compiler-cli@$ANGULAR @angular/core@$ANGULAR typescript@$TYPESCRIPT --no-save
    #     - npm run test:package
    # -
    #   env:
    #     - ANGULAR=5.2.x
    #     - TYPESCRIPT=2.6.x
    #   install:
    #     - npm install
    #   script:
    #     - npm run build
    #     - npm install @angular/compiler@$ANGULAR @angular/compiler-cli@$ANGULAR @angular/core@$ANGULAR typescript@$TYPESCRIPT --no-save
    #     - npm run test:package
    # -
    #   env:
    #     - ANGULAR=5.2.x
    #     - TYPESCRIPT=2.7.x
    #   install:
    #     - npm install
    #   script:
    #     - npm run build
    #     - npm install @angular/compiler@$ANGULAR @angular/compiler-cli@$ANGULAR @angular/core@$ANGULAR typescript@$TYPESCRIPT --no-save
    #     - npm run test:package

    - stage: test (integration)
      install:
        - npm install
      script:
        - npm run test:integration

    - stage: release
      node_js:
        - "lts/*"
      before_install:
        # Clone the whole repository because we also need the develop branch for releasing (Travis only gives us the master by default)
        - git clone "https://github.com/$TRAVIS_REPO_SLUG.git" "$TRAVIS_REPO_SLUG";
        - cd "$TRAVIS_REPO_SLUG";
        - git checkout -qf "$TRAVIS_COMMIT";
        #  Fix Travis CI issue of detached heads in git
        - git checkout master
      install:
        - npm install
      script:
        - npm run build
      before_deploy:
        # Login to Git to be able to make commits (required by automatic-release)
        - git config --global user.name "dominique-mueller";
        - git config --global user.email "dominique.m.mueller@gmail.com";
        - git config credential.helper "store --file=.git/credentials";
        - echo "https://$GH_TOKEN:@github.com" > .git/credentials;
        # Do release
        - npm run release
        # Publish the dist folder
        - cd dist
      deploy:
        provider: npm
        email: dominique.m.mueller@gmail.com
        api_key: "$NPM_TOKEN"
        skip_cleanup: true
      after_deploy:
        - cd ..
